<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Task Manager</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('add_task') }}">Add Task</a> |
    </nav>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
