{% extends "base.html" %}
{% block content %}
<ul>
    <form method="get" action="{{ url_for('main.index' )}}">
        <input type="text" name="search" placeholder="Search tasks..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>
    {% if search_query %}
        <p>Showing results for: <strong>{{ search_query  }}</strong> - <a href="{{ url_for('index') }}">Clear Search</a></p>
    {% endif %}
    {% if filter_tag %}
    <p>Filtering by tag: <strong>{{ filter_tag }}</strong> —
    <a href="{{ url_for('main.index') }}">Clear Filter</a></p>
    {% endif %}
    <p>
        Sort by:
        <a href="{{ url_for('main.index', sort='default')}}">Default</a> |
        <a href="{{ url_for('main.index', sort='due') }}">Due Date</a> |
        <a href="{{ url_for('main.index', sort='title') }}">Title</a> |
        <a href="{{ url_for('main.index', sort='status') }}">Completion Status</a> |
        <a href="{{ url_for('main.index', sort='priority') }}">Priority</a>
    </p>

    
{% for task in tasks %}
    <li class="{% if task.is_overdue %}overdue{% endif %}"">
        <strong>{{ task.title }}</strong> - {{ task.description }}
        {% if task.due_date %}(Due: {{ task.due_date }}){% endif %} 
        {% if task.is_overdue %}⚠️ OVERDUE ⚠️{% endif %}
        {% if task.completed %}✅{% else %}❌{% endif %}
        {% if task.tags %}[Tags: {% for tag in task.tags %} <a href="{{ url_for('main.index', tag=tag) }}">{{ tag }}</a> {% endfor %} ]{% endif %}
        {% if task.priority %}[Priority: {{ task.priority }}] {% endif %}
        <br>
        <a href="{{ url_for('main.edit_task', task_id=task.id) }}">Edit</a> |
        {% if task.completed %}
            <a href="{{ url_for('main.incomplete_task', task_id=task.id) }}" onclick="return confirm('Mark this task as incompleted?');">Incomplete</a> |
        {% else %}
            <a href="{{ url_for('main.complete_task', task_id=task.id) }}" onclick="return confirm('Mark this task as completed?');">Complete</a> |
        {% endif %}
        <a href="{{ url_for('main.delete_task', task_id=task.id) }}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
